@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    color: white;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
}

.box {
    margin-top: 40px;
    padding-top: 1px;
}


.line {
    border: 1px solid #889abf;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 0 80px 12px 80px;
}

.line p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 100%;
}

.step {
    padding: 30px 0 30px 40px;
    width: 47%;

}
.topNav {
    background: #373e52;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    padding: 0;
    z-index: 2;
    width: 100%;
    top: 0;
}

.item {
    padding: 0 15px;
    margin-left: 5px;
}

.item a{
    text-decoration: none;
    color: white;
    margin: 0 25px 0 25px;
}

.name:hover {
    background: #373e52;

}
.item:hover {
    background: black;

}
.navigations {
    display: flex;
    align-items: center;
}

.navigations .name {
    margin-left: 10px;
}

.nft {
    margin: 10px 20px 20px 20px;
    border-radius: 20px;
    border: 1px solid #889abf;
    width: 150px;
    height: 150px;
    transition: 0.5s;
}

.nft:hover {
    transform: scale(1.45);
    cursor: pointer;
}

.collect {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

details {
    border: 1px solid #889abf;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 5px 100px 5px 100px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.BTN {
    border-radius: 20px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
    width: 220px;
    height: 80px;
    background: black;
    color: white;
    border: 1px solid #889abf;
    transition: 0.5s;
}

.BTN:hover {
    cursor: pointer;
    transform: scale(1.2)
}
h2 {
    display: flex;
    justify-content: center;
}


summary {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

details > p {
    text-align: center;
    margin-top: 10px;
    background-size: auto 100%;
}

summary:hover {
    cursor: pointer;
}

.StepOne {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.StepTwo {
    display: flex;
    justify-content: space-between;
}

.nftOfRoadMap{
    margin: auto;
}

.ref{
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ref1 {
    padding-right: 10px;
}
.ref2 {
    padding-left: 10px;
}

.nftOfMap {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid #889abf;
    transition: 0.5s;
}
.nftOfMap:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.phase {
    margin-left: 100px;
    margin-right: 100px;
}

/*.FAQ-CONT {*/
/*    height: 92vh;*/
/*    display: grid;*/
/*}*/

.pos {
    display: flex;
    height: auto;
    justify-content: center;
}

.start {
    min-height: 92vh;
}



